body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

a {
  font-size: 15px;
  color: white;
  font-family: ui-serif;
  text-underline-offset: none;
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
